<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= message %>
    <script>
        setTimeout(() => {
            window.location.replace("login")
        }, 2000);
    </script>
</body>
</html>