<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <ul>
        <div id="li-1"><li><a class="active" href="/home">Home</a></li></div>
        <div id="li-2"><li><a href="/login">เข้าสู่ระบบ</a></li></div>
    </ul>
    <center>
    <div class="login-container">
        <h2>รหัสผ่านใหม่</h2>
        <form action="/changPassword/<%= UserID%>" method="POST">
            <input type="text" name="newpassword" placeholder="รหัสผ่านใหม่" required>
            <input type="password" name="replypassword" placeholder="ยืนยันอีกครั้ง" required>
            <input type="submit" value="เปลี่ยนรหัส">
        </form>
    </div>
</center>
</body>
</html>
