<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <ul>
        <div id="li-1"><li><a class="active" href="home_admin.ejs">Home</a></li></div>
        <div id="li-2"><li><a href="home_admin.ejs">ข้อมูลสนาม</a></li></div>
        <div id="li-2"><li><a href="sale-admin.ejs">ข้อมูลการขาย</a></li></div>
        <div id="li-2"><li><a href="datamem_admin.ejs">ข้อมูลลูกค้า</a></li></div>
        <div id="li-2"><li><a href="home.ejs">ออกจากระบบ</a></li></div>
    </ul>
    <center>
        <div class="type">
            <div class="htype">
                <h2>ข้อมูลสมาชิก</h2>
            </div>
        </div>
        <div class="tables">
            <table>
                <tr>
                  <th>รหัสสมาชิก</th>
                  <th>ชื่อสมาชิก</th>
                  <th>Email</th>
                  <th>เบอร์โทร</th>
                  <th>เพศ</th>
                  <th>เลขบัตรเครดิต</th>
                  <th>ที่อยู่</th>
                  
                </tr>
                <tr>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                </tr>
                
              </table>
        </div>
    </center>
    
    
</body>
</html>