<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        
        .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin-top: 150px;
        }
        
        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .login-container form {
            display: flex;
            flex-direction: column;
        }
        
        .login-container input {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
        .login-container input[type="submit"] {
            background-color: rgb(58, 55, 55);
            color: white;
            cursor: pointer;
        }
        
        .login-container input[type="submit"]:hover {
            background-color: rgb(124, 122, 122);
        }
        .n{
            display: flex;
            justify-content: space-evenly;
        }
    </style>

</head>
<body>
    <ul>
        <div id="li-1"><li><a class="active" href="/home">Home</a></li></div>
        <div id="li-2"><li><a href="/login">เข้าสู่ระบบ</a></li></div>
    </ul>
    <center>
    <div class="login-container">
        <h2>ลืมรหัสผ่าน</h2>
        <form action="forget" method="POST">
            <input type="text" name="UserName" placeholder="ชื่อผู้ใช้" required>
            <input type="email" name="Email" placeholder="Email" required>
            <input type="submit" value="ยืนยัน">
        </form>
    </div>
</center>
</body>
</html>
