<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <ul>
        <div id="li-1"><li><a class="active" href="home.ejs">Home</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ข้อมูลสนาม</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ข้อมูลการขาย</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ข้อมูลลูกค้า</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ออกจากระบบ</a></li></div>
    </ul>
    <center>
        <div class="type">
            <div class="htype">
                <h2>ประเภทสนามกีฬา</h2>
            </div>
            <div class="typeobj">
                <div id="tname"><a id="u" href="">สนามบาสเกตบอล</a></div>
                <div id="tname"><a id="u" href="">สนามฟุตบอล</a></div>
                <div id="tname"><a id="u" href="">สนามฟุตซอล</a></div>
                <div id="tname"><a id="u" href="">สนามแบตมินตัน</a></div>
            </div>
        </div>
        <div class="tables">
            <table>
                <tr>
                  <th>รหัสสนาม</th>
                  <th>ชื่อสนาม</th>
                  <th>ประเภทสนาม</th>
                  <th>ขนาด</th>
                  <th>ราคา/ชั่วโมง</th>
                  <th>จัดการ</th>
                </tr>
                <tr>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td><button class="button"><a href="/public/views/instadium_admin.ejs">เพิ่ม</a></button>
                    <button class="button-d" ><a href="sale.ejs">ลบ</a></button>
                    <button class="button-e"><a href="sale.ejs">แก้ไข</a></button>
                </td>
                </tr>
                
              </table>
        </div>
    </center>
    
    
</body>
</html>