<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <ul>
        <div id="li-1"><li><a class="active" href="home.ejs">Home</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ข้อมูลสนาม</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ข้อมูลการขาย</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ข้อมูลลูกค้า</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ออกจากระบบ</a></li></div>
    </ul>
    <center>
        <div class="type">
            <div class="htype">
                <h2>ข้อมูลการขาย</h2>
            </div>
        </div>
        <div class="tables">
            <table>
                <tr>
                  <th>รหัสการขาย</th>
                  <th>ชื่อสนาม</th>
                  <th>ประเภทสนาม</th>
                  <th>เวลาเช่า</th>
                  <th>วันที่เช่า</th>
                  <th>ราคา</th>
                  <th>รหัสสมาชิก</th>
                  
                </tr>
                <tr>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                  <td>##</td>
                </tr>
                
              </table>
        </div>
    </center>
    
    
</body>
</html>