<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <ul>
        <div id="li-1"><li><a class="active" href="home.ejs">Home</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ประวัติการจอง</a></li></div>
        <div id="li-2"><li><a href="login.ejs">ข้อมูลส่วนตัว</a></li></div>
    </ul>
    <br><center>
    <h2>ประวัติการจองสนามกีฬา</h2>
    <table>
        <thead>
            <tr>
                <th>รหัสสนาม</th>
                <th>ชื่อสนาม</th>
                <th>ขนาดสนาม</th>
                <th>เวลาที่ลงจอง</th>
                <th>ชื่อลูกค้า</th>
                <th>บัตรเครดิตลูกค้า</th>
                <th>Email</th>
                <th>เบอร์โทร</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>สนามฟุตบอล</td>
                <td>100x50 เมตร</td>
                <td>2024-03-05 10:00</td>
                <td>John Doe</td>
                <td>1234 5678 9012 3456</td>
                <td>john.doe@example.com</td>
                <td>1234567890</td>
            </tr>
            <!-- เพิ่มแถวข้อมูลอื่น ๆ ตามต้องการ -->
        </tbody>
    </table>
    </center>
</body>
</html>