<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <ul>
    <div id="li-1"><li><a class="active" href="home_user">สนามกีฬา</a></li></div>
        <div id="li-2"><li><a href="history">ประวัติการจอง</a></li></div>
    <div id="li-2"><li><a href="profile">ข้อมูลส่วนตัว</a></li></div>
    <div id="li-2"><li><a href="home">ออกจากระบบ</a></li></div>
</ul>
<br><center>
  <div class="receipt-container">
    <h2>จองสนามกีฬา</h2>
    <div>
      <table>
        <tr>
            <th>รายการ</th>
            <th>ข้อมูล</th>
        </tr>
        <tr>
            <td><strong>รหัสสนาม:</strong></td>
            <td>ABC123</td>
        </tr>
        <tr>
            <td><strong>ชื่อสนาม:</strong></td>
            <td>สนามฟุตบอล</td>
        </tr>
        <tr>
            <td><strong>ขนาดสนาม:</strong></td>
            <td>80x40 เมตร</td>
        </tr>
        <tr>
            <td><strong>เวลาที่ลงจอง:</strong></td>
            <td>
                <input type="checkbox" id="booking_time1" name="booking_time" value="08:00">
                <label for="booking_time1">08:00-09:00</label><br>
                <input type="checkbox" id="booking_time2" name="booking_time" value="10:00">
                <label for="booking_time2">09:00-10:00</label><br>
                <input type="checkbox" id="booking_time3" name="booking_time" value="14:00">
                <label for="booking_time3">13:00-15:00</label><br>
                <input type="checkbox" id="booking_time4" name="booking_time" value="16:00">
                <label for="booking_time4">16:00-18:00</label>
            </td>
        </tr>
        <tr>
            <td><strong>วันที่ลงจอง:</strong></td>
            <td>
                <input type="date" id="booking_date" name="booking_date">
            </td>
        </tr>
        <tr>
            <td><strong>ชื่อลูกค้า:</strong></td>
            <td>John Doe</td>
        </tr>
        <tr>
            <td><strong>บัตรเครดิตลูกค้า:</strong></td>
            <td>1234 5678 9012 3456</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>johndoe@example.com</td>
        </tr>
        <tr>
            <td><strong>เบอร์โทร:</strong></td>
            <td>081-234-5678</td>
        </tr>
    </table>
    </div>
    <button>ยืนยันการจอง</button>
</div>
</center>
</body>
</html>